@model Post

<div class="col">
    <div class="card shadow-sm">
        <a href="/Posts/Detail/@Model.Id">
            <img src="/Img/@Model.Image" alt="@Model.Title" title="@Model.Title" class="img-fluid" />
        </a>
        <div class="card-body">
            <p class="card-text">
                @Model.Title
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">@String.Format("{0:d}", Model.CreateDate)</small>
            </div>
        </div>
    </div>
</div>